@import url('https://fonts.googleapis.com/css2?family=Peralta&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Peralta&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&display=swap');

/*Font de page*/
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
/*Font de page*/

/*Description Générale de page*/
@import url('https://fonts.googleapis.com/css2?family=Wittgenstein:ital,wght@0,400..900;1,400..900&display=swap');
/*Description Générale de page*/

@layer base {
    :root {
        --base-size: 1rem;
        --scale: 1.25;
        --radius: 5px;
        --h1: calc(var(--h2) * var(--scale));
        --h2: calc(var(--h3) * var(--scale));
        --h3: calc(var(--h4) * var(--scale));
        --h4: calc(var(--h5) * var(--scale));
        --h5: calc(var(--h6) * var(--scale));
        --h6: var(--base-size);
			--def-transition-duration: .3s;

        /*Font*/
        --sans-serif: sans-serif;
        --default-color: #FFFFFF;

        /*Input*/
        --input-margin-left: 9px;
        --input-height: 32px;
        --marge-bottom-input: 10px;

        /*Form*/
        --form-paddind: 10px
    }

    html {
        box-sizing: border-box;
    }

    *, *:before, *:after {
        box-sizing: inherit;
    }

    
    body {
        margin: 0;
        padding: 0;
        font-family: "ADLaM Display", system-ui;
        font-weight: 400;
        font-style: normal;
        font-size: var(--base-size);
    }

    h1, h2, h3, h4, h5, h6 {
        font-weight: 300;
        line-height: 1.3;
    }

    h1 {
        font-size: var(--h1);
        line-height: 1;
    }

    h2 {
        font-size: var(--h2);
    }

    h3 {
        font-size: var(--h3);
    }

    h4 {
        font-size: var(--h4);
    }

    h5 {
        font-size: var(--h5);
    }

    h6 {
        font-size: var(--h6);
    }
    img{
        width: 100%;
        height: 100%;
    }
}

/*
    max-width:615px
*/
/********** Header **********/
#header{
    /*padding-inline: clamp(1.25em, 4vw, 2.5em);*/
    display: grid;
    height: 100vh;
    grid-template-columns:1fr ;
    grid-template-rows:1fr ;
}
#header .header_block-1{
    color: white;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    height: max-content;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2,fit-content);
   text-align: center;
   place-items: center;
   padding-block: 24px;
   padding-inline: clamp(1.25em, 4vw, 2.5em);
   gap: 1rem;
   padding-block-start: 6rem;
   

}
.logo,
.reseau-sociaux,
.nav{
    align-self: center;
}
.logo{
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: start;
}
.reseau-sociaux{
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: baseline;
    justify-self: end;
    align-self: center;

}
.nav{
    grid-column: 1/3;
    grid-row: 2/3;
}
.nav-link{
    display: flex;
    list-style: none;
    gap: 20px;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.massire-image{
    position: relative;
/*  height: 630px;*/
    border: 1px solid blueviolet;
}
.photo{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    z-index: -1;
    position: relative;
}
.photo::before{
    position: absolute;
    inset: 0;
    content: " ";
   /* background-color:  rgba(15, 21, 37, .8);*/
    background-color:  rgb(15 21 37 / 90%);
    z-index: 1;
}

.reseau-sociaux{

    text-align: justify;
    font-family: "Afacad", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    margin: 0;
}
.reseau-sociaux, svg{
    fill:#BA007B;
    
}


.massire-name{
    padding-left: 15px;
    font-size: max(5em, 9vw);
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    align-content: center;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    line-height: 1;
    letter-spacing: 3px;
    color: white;
    align-self: flex-end;
}
.description-principale{
    margin: 0;
    padding-block:1.3rem ;
    color: white;
    background-color: #BA007B;
}
.subnav ,
.vide{
    display: none;
}

/********** End Header **********/
/*** 711 **/
body{
    color: #1C1D20;
}
.border-left-rose{
    border-left-width: 10px;
    border-left-color: #BA007B;
    border-left-style: solid;
    padding-left: 10px;
}
#container{
}


 section,
  .content,
   .projet,
    .description-principale,
  .main
     {
    padding-inline: clamp(1.25em, 4vw, 2.5em);

}
/*
#header{
    color: var(--default-color);
    display: grid;
    height: 630px;
    padding-inline: clamp(1.25em, 4vw, 2.5em);
    position: relative;
    background-color:  rgba(15, 21, 37, .8);

}


#header p, .content p,.content h6{
    margin: 0;
}/
.nav{

    display: flex;
    justify-content: space-between;
}
.massire-image{
    position: absolute;
    inset: 0;
    height: 630px;
    z-index: -1;
   
}
#header .description{
    align-content: center;
  font-family: "Wittgenstein", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  letter-spacing: 2px;
  font-size: 18px;
}

.massire-name{
    font-size: max(3em, 9vw);
    align-content: center;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    line-height: 1;
    letter-spacing: 3px;
}
.massite-dot{
    color:  #BA007B;;
}
    */
.description{
    /*font-size: clamp(1.55em,2.3vw, 2.5rem);*/
}
.ville{
    /* border-right-width: 10px;
    border-right-color: #BA007B;
    border-right-style: solid; */
    border-left-width: 10px;
    border-left-color: #BA007B;
    border-left-style: solid;
    width: max-content;
    /* padding-right: 10px; */
    padding-left: 10px;

    align-self: end;
}

.color-back,
.color-back-2
{
    position: absolute;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr;
    height: 60px;
    padding-block-end: 1rem;
}
.white{
    background-color: white;
}

/*main*/
  .main{
        /*background: linear-gradient(90deg, rgba(0, 123, 186, 1) 0%, rgb(3 45 67) 50%, rgba(0, 56, 84, 1) 100%);*/
        /*background: linear-gradient(305deg, rgba(0, 123, 186, 1) 0%, rgb(3 45 67) 50%, rgba(0, 56, 84, 1) 100%);*/
        padding-block-start: 1rem;
        background: linear-gradient(90deg, rgb(19 58 78) 0%, rgb(3 45 67) 50%, rgba(0, 56, 84, 1) 100%);
    }
/*main*/


#section-container {
    background: linear-gradient(305deg, rgba(0, 123, 186, 1) 0%, rgb(3 45 67) 50%, rgba(0, 56, 84, 1) 100%);
    /*padding-block: 2rem;*/
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

#section-container section {
    padding-block-end: 3.5rem;
}

/*
.description-principale{
    text-align: justify;
    font-family: "Afacad", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: white;
    margin: 0;
    padding-block: 32px;
    padding-bottom: calc(81px - 12px);
    background-color: #BA007B;

}
*/

/*SECTION*/
#section-main{
    padding-block-end: 4rem;
    display: grid;
    margin: 0;
    grid-gap: 2rem;
    grid-template-columns:  minmax(100px, 500px);
    /*grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));*/
    grid-template-rows:1fr 1fr;
   /* grid-auto-rows: 1rem;*/
    grid-auto-flow: dense;
    justify-content: center;

}
section{
   /* background: linear-gradient(305deg, rgba(0, 123, 186, 1) 0%, rgb(3 45 67) 50%, rgba(0, 56, 84, 1) 100%);*/
   /* padding-block-start: 2.3rem;*/
   /*background: linear-gradient(305deg, rgba(0, 123, 186, 1) 0%, rgb(3 45 67) 50%, rgb(0 56 84 / 21%) 0%);*/
}
.section-projet{
        background: linear-gradient(305deg, rgba(0, 123, 186, 1) 0%, rgb(3 45 67) 50%, rgba(0, 56, 84, 1) 100%);
        padding-block-start: 2.3rem;
    }
    .section-formation{
        /*background: linear-gradient(305deg, rgb(0 123 186 / 7%) 52%, rgb(3 45 67) 50%, rgb(0 56 84 / 21%) 0%);*/
    }
    .section-cv{
   /* background: linear-gradient(305deg, rgb(0 123 186 / 7%) 52%, rgb(3 45 67) 50%, rgb(0 56 84 / 21%) 0%);*/
}



    /*END SECTION*/



/*Footer*/

#footer{
    color: white;
    /*background-color: rgba(15, 21, 37, .8);*/
    background: #022739;
    padding-inline: clamp(1.25em, 4vw, 2.5em);
    padding-block: 2rem;
}
.social-container{
    display: flex;
    gap: 20px;
}
.copyright{
    display: flex;
    justify-content: space-between;
}

.social-reseau,
.version,
.heure-locale{
    opacity: .5;
}
/*End Footer*/

/*Parcours*/
.parcours{
    padding-block: 15px;
    /*padding-inline: 15px;*/
   /* background: #022739;*/
    color: white;
    display: flex;
    justify-content: space-between;
}
.parcours-date{
    border-left-style: solid;
    border-left-color: #ba007b;
    padding-inline-start: 10px;
    border-left-width: 5px;
}

.active{
    border-bottom-width: 8px;
    border-bottom-style: solid;
    border-bottom-color: #ba007b;
    padding-block-end: 0.3rem;
}

/********** Expérience pro **********/
.cv-title{
    font-size: 16px;
       /*font-size: var(--h4 );*/
    /*margin: 0;*/
}
.section-cv{
    color: white;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    /*font-weight: 100;*/
    font-style: normal;
    display: grid;
    /*gap: 1rem;*/
    gap: 4rem;
   /*margin-block-end: 2rem;*/
    padding-block-end: 2.3rem;
    justify-content: center;
}
.exp-1 > p,
.exp-2 > p,
.exp-3 > p,
.exp-4 > p

{
    margin: 0;
    line-height: 1.9;
    font-size: 18px;
    /*font-size: 15px;*/
    font-weight: 900;
  text-align: justify;
}
.exp-1 > p:not(:first-child),
.exp-2 > p:not(:first-child),
.exp-3 > p:not(:first-child),
.exp-4 > p:not(:first-child)

{
    font-size: 16px;
    font-weight: 100;
}


.exp-ville,
.exp-description,
.exp-tech,
.exp-tech-1
{
   font-size: 18px;
}

.section-cv
.exp-tech,
.section-cv .exp-tech-1
{
   text-align: left;
}

.exp-title{
    color: #FFFFFF;
    font-weight: 800;
    /*padding-block-end: 0.5rem;*/
    margin-block-end: 12.5px;
    letter-spacing: 2px;
    padding-block-start: 2.5rem;
    text-transform: uppercase;
    font-size: calc(clamp(1.75em, 2.3vw, 2.5em)* 1.125);
}
.exp-ville{
    font-weight: 600;
    display: flex;
    gap: 1rem;
}
.exp-tech{
    font-weight: 600;
}

.regle, .regle-2{
    display: none;
}
.fix{
    border-left-width: 5px;
    padding-left: 5px;
    border-top-color: #BA007B;
    border-top-style: solid;
    border-top-width: 1px;
    width: fit-content;
    padding-block-start: 5px;
}

/********** FORMATION **********/
.section-formation{
    color: white;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
   /* margin-block-end: 2rem;*/
    padding-block-end: 2.3rem;
    justify-content: center;
    display: grid;
    row-gap: 2rem;
    font-size: 15px;
}


.section-formation p{
    font-size: 12px;
    margin: 0;
    line-height: 1.9;
    /*padding-inline-start: 20px;*/
    font-weight: 200;
}

.form-block{
    line-height: 2;
}

.form-block p{
    font-size: 15px;
    font-weight: 100;
}
p.form-date{
    font-size: 15px;
}
.section-formation .form-date{
    padding-inline-start: 0;
}

.section-formation .form-ville{
    font-weight: 600;
}
.section-formation .form-block p:first-child{
    font-weight: 600;
}
.form-block p:first-child{
    font-size: 15px;
}
.form-block{
    display: flex;
    flex-direction: column;
   
}
.padding-block-start{
    padding-block-start: 2rem;
}


 .section-formation .form-svg {
  text-align: end;
}
.form-svg{
    display: none;
}

/********** Compétences **********/

.section-competence{
    max-width: 700px;
    margin: auto;
    color: white;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    padding-block-end: 2.3rem;
    justify-content: center;
}

.section-competence .block {
    display: flex;
    gap:.5rem;
    flex-direction: column;
    width: 150px;
}

.section-competence .block h4,
.section-interet .block h4
{
  
    margin: 0;
    font-size: 15px;
    font-weight: 600;
    /*text-transform: uppercase;*/
}

.section-competence .springboot h4{
    font-size: 13px;
 }


.section-competence .jshtmlcss h4,
.section-competence .wordpress h4{
   text-align:  end;
}

/********** Centre d'interêt **********/

.section-interet{
    color: white;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    color: white;
    display: grid;
    gap: 2rem;
    padding-block-end: 2.3rem;
}
.section-interet .block p
{
    margin: 0;
    font-weight: 100;
}
/*Appear NavBar*/
@media (min-width: 544px) {

    /*
    
    .nav-burger{
        display: none;
        
    }
    .nav-link{
        display: flex;
        list-style: none;
        gap: 20px;
        margin: 0;
    }
 
    #header{
        background-color: rgba(15, 21, 37, 0.5);
        grid-template-rows: .4fr .1fr 1fr;
        position: relative;
    }

    #header p{
        align-content: flex-start;
        padding-block-start: 2.1rem;
    }
    #header .description{
        justify-self: flex-end;
    }
     .massire-name{
        font-size: clamp(5em, 2em,15vw);
    }
    */
   
}
@media(min-width:637px) {
    .cv-title{
           font-size: var(--h4 );
    }
   /*
     #header{
        height: 400px;
     }
     #header p{
        padding-block-start: 4.3rem;
     }
     .massire-image{
        height: 400px;
        object-position: 20% 0;
     }
     */

    #section-main{
        grid-template-columns: repeat(2,minmax(100px, 280px));
    
    }
    img{
        object-fit: cover;
        object-position: 0% 100%;
    }
    /********** Expérience pro **********/
    .exp-title{
        padding-block-start: 3rem;
        margin-block-end: 15px;
    }

    /********** Centre d'interêt **********/

    .section-interet{
      grid-template-columns: repeat(2,1fr);
    }
  

}
/*Appear NavBar*/
@media (min-width: 776px) {
 
    .cv-title{
        font-size: var(--h4 );
    }
    /*
    #header{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .nav{
        grid-column: 1/4;
    }
    .massire-name{
        grid-row: 3/4;
        grid-column: 1/4;
    }
   #header .description{
    justify-self: center;
        grid-column: 3/4;
        grid-row: 2/3;
    }
    */
     /********** Compétences **********/
     .section-competence .uiux h4{
        text-align:  end;
     }
     
}

@media(min-width:843px) {
    /*** Expérience ***/
        .regle,.regle-2{
            display: block;
        }

    
    .section-cv {
        grid-template-columns: repeat(2, auto-fit) 18px repeat(2, auto-fit);
        grid-template-rows: 1fr 1fr;
       
    }

    .exp-1,.exp-2{
        grid-column: 1/3;
    }
    .exp-3,.exp-4{
        grid-column: 4/6;
    }
    .exp-3{
        grid-row: 1/2;
    }
    .exp-4{
        grid-row: 2/3;
    }
    .regle{
        grid-column: 3/4;
        grid-row: 1/2;
        width: 18px;
    }
    .regle-2{
        grid-column: 3/4;
        grid-row: 2/3;
    }
   

    
    




        /********** FORMATION **********/
    .section-formation{
        column-gap: 3rem;
    }


    .section-formation{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 1fr 50px;
    }
    .form-container-2{
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .form-svg{
        display: block;
    }

   

}






/********** Section 3 **********/
/*
.section-4{
    padding-inline: 0;
    color: white;
     background: linear-gradient(360deg, rgba(0, 123, 186, 1) 0%, rgba(0, 82, 123, 1) 50%, rgba(0, 56, 84, 1) 100%); 
     background: linear-gradient(360deg, rgba(0, 123, 186, 1) 0%, rgba(0, 82, 123, 1) 50%, rgba(0, 56, 84, 1) 100%); 
     background: linear-gradient(305deg, rgba(0, 123, 186, 1) 0%, rgb(3 45 67) 50%, rgba(0, 56, 84, 1) 100%); 

    text-align: justify;
}

.section-3 h4{
    margin: 0;
    padding-inline: clamp(0.55em, 4vw, 2.5em);
}

 section h4{
    padding-block: 20px;
    background-color: #022739;
}



.section-4 .content{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.section-4 .titre{
    font-size: clamp(1.55em, 2.3vw, 2.5rem);
    width: 70%;
    background: white;
    color: #1C1D20;
    bottom: 2.5rem;
    position: relative;
}
.section-4 .main{
    display: flex;
    flex-direction: column;
    gap: 30px;
}*/
