/********* Utils  **********/
@import '../../public/sass/utils/utils';
@import '../../public/sass/utils/fonts';
@import '../../public/sass/utils/color';

@font-face {
    font-family: 'Cute Bubble';
    src: url('../fonts/cartoon/CuteBubble.eot');
    src: url('../fonts/cartoon/CuteBubble.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cartoon/CuteBubble.woff2') format('woff2'),
         url('../fonts/cartoon/CuteBubble.woff') format('woff'),
         url('../fonts/cartoon/CuteBubble.ttf')  format('truetype'),
         url('../fonts/cartoon/CuteBubble.svg#Cute Bubble') format('svg');
}



/********* Header  **********/
@import './animations/animations';


/********* Header  **********/
@import './header/header';


/********* Nav  **********/
@import './nav/nav';



/********* Contact  **********/
@import './form/contact';


/********* Sections  **********/
@import './sections/sectionContent/section_content';
@import './sections/sectionProjet/section_projet';
@import './sections/resume/resume';


/********* Article - Cart  **********/
@import './article/article_carte';


/********* Footer  **********/
@import './footer/footer';

/********* Media Query  **********/
@import './header/header_mediaquery';
@import './nav/nav_mediaquery';
@import './sections/sectionContent/section_content_mediaquery';
@import './sections/sectionProjet/section_projet_mediaquery';

@import './article/article_cartemediaquery';

