:root{
    --background-black:#1a1a1af0;
    --primary-color-black: #e6e4e4;
    --primary-color-black-hover:#eae8e8;
    --secondary-color-black: #E5E5E6DA;
   --color-green:#267365;
   --color-yellow:#F2CB05;
   --color-orange-primary:#F28705;
   --color-orange-secondary:#F29F05;
   --color-red:#F23030;
   --img-border: #ffd890;

  --color-site: #707070;

    
}

.borderBottom{
    background: linear-gradient(90deg, rgba(242,48,48,1) 0%, rgba(242,203,5,1) 100%);
    height: 2px;
  }


