#section-projet{
   // background-color: var(--color-green);
    background: #024959;
    // background: var(--secondary-color-black);
    padding-inline-start: 2rem;
    padding-inline-end: 2rem;
    padding-block-start: 5rem;
    padding-block-end: 5rem;
   
}

main{
    max-width: 1500px;
    margin: 0 auto;
    
}